rootfs/
chroot/
iso/
*.iso

proc/
sys/
dev/
tmp/
run/

var/cache/
var/tmp/
var/log/

*.img
*.squashfs

.cache/

custom-root/
sota-live/
*.lock
*.logx

# OS / VM / builds
rootfs/
iso-build/
iso-root/
sota-live/
*.qcow2
*.img
*.iso
*.tar.gz

# Linux user junk
.cache/
.config/
.local/
.bash_history
.sudo_as_admin_successful
